@model List<City>

@{
    ViewData["Title"] = "SearchResults";
}

<h1>Search Results</h1>

@foreach(City result in Model)
{
    <div>
        <h4>City</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @result.Name
            </dd>
            <dt class="col-sm-2">
                Latitude
            </dt>
            <dd class="col-sm-10">
                @result.Latitude
            </dd>
            <dt class="col-sm-2">
                Longitude
            </dt>
            <dd class="col-sm-10">
                @result.Longitude
            </dd>
            <dt class="col-sm-2">
                Country
            </dt>
            <dd class="col-sm-10">
                @result.Country
            </dd>
            <dt class="col-sm-2">
                Population
            </dt>
            <dd class="col-sm-10">
                @result.Population
            </dd>
            <dt class="col-sm-2">
                Is Capital
            </dt>
            <dd class="col-sm-10">
                @result.IsCapital
            </dd>
        </dl>
    </div>
}

<div>
    <a asp-action="Index">Back to Home</a>
</div>
